<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ThemeSwitch.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="css/theme.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="js/theme.js"></script>
    <script>
        window.applySavedTheme();
    </script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
