<div class="button-group">
    <h3>Group 1: </h3>
    <button class="style-button">Button 1</button>
    <button class="style-button">Button 2</button>
</div>

<br/>
<div class="button-group">
    <ButtonGroup1Child></ButtonGroup1Child>
</div>

