<h2>Black Widow</h2>

<p>
    Black Widow, Natasha Romanoff, is a fictional superhero appearing in
    American comic books published by Marvel Comics. She is a trained spy
    and assassin.
</p>
