<h2>Spider-Man</h2>

<p>
    Spider-Man, Peter Parker, is a fictional superhero created by writer
    Stan Lee and artist Steve Ditko. He first appeared in Amazing
    Fantasy #15 in 1962.
</p>
