@rendermode InteractiveServer

<div class="container">
    <h2>Character Registration</h2>
    <form>
        <label for="name">Character Name:</label>
        <input id="name" type="text" />

        <label for="movie">Movie:</label>
        <input id="movie" type="text" />

        <label for="description">Description:</label>
        <textarea id="description"></textarea>

        <button type="submit">Register</button>
    </form>
</div>
<style>
     /* button {
        border: 2px solid red !important;
    } */
</style>