@page "/Parent"
<style>
.box {
    background-color: rgb(224, 206, 247);
    border: 5px solid rebeccapurple;
}
</style>
<h3 class="box" style="width:300px;padding:5px;">Parent</h3>
<br/>
<Child>
    <First_ChildContent>This is first child!!</First_ChildContent>
    <Another_ChildContent>Sent from second child.</Another_ChildContent> 
</Child>
@code {

}
