:root {
    --background-color: white;
    --text-color: black;
    --form-bg-color: #f9f9f9;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    --form-bg-color: #1e1e1e;
    --shadow-color: rgba(255, 255, 255, 0.2);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: var(--form-bg-color);
    box-shadow: 0 4px 8px var(--shadow-color);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    background: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--button-bg);
    color: var(--button-text);
    border: 2px solid var(--button-border);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

    button:hover {
        background-color: var(--button-hover-bg);
    }